.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  height: var(--header-height);
  color: var(--secondary-text-color);

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-grow: 1;
  }

  .logo,
  .searchLink {
    padding: 20px;
    width: 100px;
  }
}
