.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  background-color: var(--color-dark-gray);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: green;
  background-blend-mode: luminosity;
}

.movie {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  max-width: var(--max-width);
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.634);
}

.poster {
  display: flex;
  align-items: flex-start;
  padding: 2rem;

  .posterImg {
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
}

.movieInfo {
  padding: 2rem;
  color: var(--secondary-text-color);
}

.released {
  padding-bottom: 0.5rem;
}
