.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: purple;
  background-blend-mode: luminosity;
}

.searchResults {
  display: grid;
  grid-template-columns: 1fr;
  width: var(--max-width);
  max-width: 100%;
  gap: 10px;
  margin: 20px;
}

.notFoundMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid tomato;
  width: 50%;
  text-align: center;
  justify-self: center;
  border-radius: var(--border-radius);
  min-height: 50px;
  background-color: white;
}

.searchResultsItem {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  background-color: white;
  height: 100px;
  box-shadow: 0px -10px 10px 0px white inset;
  z-index: 20;
}

.moviePoster {
  width: 70px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 10px 0 0 10px;
  border: none;

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: none;
  }
}

.movieInfo {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: inherit;
}

.movieTitle {
  padding-bottom: 5px;
}

.movieOverview {
  font-size: 0.8rem;
  z-index: 1;
}

.fadeOut {
  position: absolute;
  bottom: 0;
  box-shadow: inset white 0px -20px 20px 0;
  width: 100%;
  height: 20px;
  z-index: 10;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}
