:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --color-dark-blue: 3, 37, 65;
  --color-dark-gray: 39, 39, 39;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;

  --background-color: rgba(var(--color-dark-blue), 1);
  --primary-text-color: rgba(var(--color-black), 1);
  --secondary-text-color: rgba(var(--color-white), 1);
  --body-color: rgba(0, 0, 0, 0);

  --header-height: 65px;
  --footer-height: 50px;
}

* {
  font-family: var(--font-mono);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--body-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  padding-bottom: 1rem;
}

h2 {
  padding-bottom: 0.5rem;
}
