.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  background: var(--background-color);
  height: var(--footer-height);
  width: 100%;
}
